/*
    colors
*/
$primary-color: #d18c00;
$secondary-color: #000;
$tertiary-color: #ffd072;
$info-color: $primary-color;
$warning-color: grey;
$danger-color: red;

/*
    font sizes
*/
$text-size: 1.2rem;
$text-size-xs: 1.0rem;
$text-size-md: 1.4rem;
$text-size-lg: 1.6rem;

