/*
    colors
*/
$primary-color: #d18c00;
$secondary-color: rgb(1, 143, 187);
$tertiary-color: yellow;
$info-color: $primary-color;
$warning-color: orange;
$danger-color: red;

/*
    font sizes
*/
$text-size: 1.2rem;
$text-size-xs: 1.0rem;
$text-size-md: 1.4rem;
$text-size-lg: 1.6rem;

