.form{
    padding: 30px;
    width: 100%;
}

.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    input, select{
        width: 100%;
        height: 40px;
        margin-bottom: 5px;
        font-size: 18px;
        color: #000;
        background-color: #fff;
        border-color: #eee;
        border-radius: 5px;   
    }

    label{
        margin-bottom: 5px;
    }
}

.form-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 20px;
    input{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

}

.form-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
}